<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>1080p dashboard<% end %>

<div data-view="Countdown" data-title="Valentines day weekend" data-end="14-Feb-2014 00:00:00"></div>
