// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;
 
// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-countdown {
  top: 100px;
  z-index: 999;
  width: 50%!important;
  position: absolute;
  left:25%;
  margin-left: -25%;
  text-align:left!important;


  h2 {
    font-size: 90px;
    font-family: 'Old Standard TT', serif;
    font-weight:700;
    color:red;
    text-shadow: 2px 2px 5px #000;
  }

 
  h1 { 
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 5px #000;
    text-align:left;
  }
 
  .countdown-time {
    margin-top: 10px;
    font-size:85px;
    color: gold;
  }
  .more-info {
    display:none;
  }
 
  .before-more-info {
    display:none;
    font-size: 15px;
    position: absolute;
    bottom: 52px;
    left: 0;
    right: 0;
  }
}
